li {
	border: 1px solid #666;
	box-sizing: border-box;
	position: relative;
	display: table;
	height: 48px;
	float:left;
	width:25%;	
	font-size:14px;
	font-family: open_sansregular,Arial,Helvetica,sans-serif;
}
h3{
	display: table-row;
	vertical-align: top;
	margin: 0;
	font-size:16px;
	padding: 0 7px;
	}
p{
	display: table-cell ;
	vertical-align: top;
	padding: 0 7px;
}
h3 ~ p, .bottom p {
	display: table-cell ;
	vertical-align: bottom;	
}
.textBottom p{
	vertical-align: bottom;
}
